*{
    margin: 0;
    padding: 0;

}
h1{
    font-size: 25px;
}
nav{
    position: absolute;
    list-style-type: none;
    width: 80px;
    background-color: #000;
    height: 100%;
}

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color:green;
    transition: .5s;
}
.body__container{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 80px;
    
}